/* UTILITIES */

.mt5p {
    margin-top: 5%
}

.mb5p {
    margin-bottom: 5%
}

.pd10 {
    padding: 10px;
}

.apple-baskets img {
    margin: 5px;
}

.notif {
    padding: 10px;
    font-size: 110%;
    border-radius: 5px;
    border: 3px solid white;
}
.notif p {
    margin: 0;
}

.notif-correct {
    border-color: darkgreen;
    color: darkgreen;
}
.notif-wrong {
    border-color: lightcoral;
    color: darkred;
}

.text-white {
    color: white;
}

.hidden {
    display: none;
}